## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<%inherit file="/include/fb_base.tmpl"/>

<style>
.fbbluebox
{
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.content
{
    background-color: #F7F7F7;
    width: 630px;
    padding: 20px 65px;
}
.side_links
{
    float: right;
    padding-right: 30px;
    position: relative;
    top: -15px;
}
.side_link
{
    width: 100px;
    padding: 2px 7px;
    border-bottom: 1px solid #D8DFEA;
}
#gift_box
{
    /*float: left;
    width: 600px;*/
    width: 630px;
    background-color: #FFFFFF;
    padding: 8px 15px;
    border: 1px solid #DDDDDD;
    margin-top: 30px;
    margin-left: 67px;
}
.user_pic
{
    position: absolute;
}
.user_name
{
    color: #888888;
    font-weight: bold;
}
.gift_content
{
    min-height: 50px;
    padding: 0 0 0 60px;
}
.gift_and_message
{
    padding: 15px 8px 8px 0;
}
.gift_image
{
    margin: 0 0 0 15px;
    float: left;
}
.gift_message
{
    background: #f7f7f7;
    padding: 15px 10px;
    margin-left: 100px;
    border: 1px solid #e7e7e7;
}
.benefitting
{
    width: 100%;
    text-align: right;
    font-style: italic;
    margin-top: 3px;
    color: #888888;
}
</style>

<fb:title>All Gifts</fb:title>

%if c.error_msg:

    <fb:dashboard>
        <fb:help href="help">Help Me!</fb:help>
    </fb:dashboard>

    <fb:tabs>
        <fb:tab-item href="index" title="Send a Gift" />
    %if c.is_app_user:
        <fb:tab-item href="received" title="Received" />
        <fb:tab-item href="sent" title="Sent" />
    %endif
        <fb:tab-item href="mission" title="Our Mission" />
    </fb:tabs>

    <div class="content">
        <fb:error message="There was an error with your request">
            <p>
                ${c.error_msg}
            <p>
        </fb:error>
    </div>
    
%else:

    <fb:mediaheader uid="${c.recipient_id}">
        <fb:header-title><fb:name uid="${c.recipient_id}" linked="false" capitalize="true" possessive="true" /> Gifts</fb:header-title>
    </fb:mediaheader>

    <div class="side_links">
        <div class="side_link">
            <a href="${c.canvas_url}/">Give to a Friend</a>
        </div>
        <div class="side_link">
            <a href="${c.canvas_url}/mission">What is We Give?</a>
        </div>
        <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
    </div>

    % if not c.received_gifts:
        <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
        <div class="fbbluebox" style="margin: 15px 0;">
            <fb:name uid="${c.recipient_id}" /> has not received any gifts yet.
        </div>
    % endif

    % for donation in c.received_gifts:

        <div id="gift_box">
            <div id="gift_display">
                <div class="user_pic"><fb:profile-pic uid="${donation.fb_uid}" size="q" /></div>
                <div class="gift_content">
                    From: <span class="user_name"><fb:name uid="${donation.fb_uid}" capitalize="true" /></span>
                    <div class="gift_and_message">
                        <div class="gift_image"><img src="${h.gift_image_url(donation.gift_id)}" alt="${donation.gift.name}"></div>
                        <div class="gift_message">
                            ${h.literal(h.nl2br(donation.message))}
                        </div>
                        <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
                        <div class="benefitting">
                            benefitting <a href="${donation.charity.url}" title="Go to website of ${donation.charity.name}" target="_blank">${donation.charity.name}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    % endfor

%endif