## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################

<style>
.fbbluebox
{
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.content
{
    background-color: #F7F7F7;
    width: 630px;
    padding: 20px 65px;
}
.side_links
{
    float: right;
    padding-right: 30px;
}
.side_link
{
    width: 100px;
    padding: 2px 7px;
    border-bottom: 1px solid #D8DFEA;
}
#gift_box
{
    /*float: left;
    width: 600px;*/
    width: 630px;
    background-color: #FFFFFF;
    padding: 8px 15px;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
    margin-left: 67px;
}
.donor_pic
{
    position: absolute;
}
.donor_name
{
    color: #888888;
    font-weight: bold;
}
.gift_content
{
    min-height: 50px;
    padding: 0 0 0 60px;
}
.gift_and_message
{
    padding: 15px 8px 8px 0;
}
.gift_image
{
    margin: 0 0 0 15px;
    float: left;
}
.gift_message
{
    background: #f7f7f7;
    padding: 15px 10px;
    margin-left: 100px;
    border: 1px solid #e7e7e7;
}
.benefitting
{
    width: 100%;
    text-align: right;
    font-style: italic;
    margin-top: 3px;
    color: #888888;
}
.comments_area
{
    width: 395px;
    margin: 35px 0 0 70px;
    background-color: #ECEFF5;
    padding-left: 7px;
}
</style>

<fb:title>View Gift</fb:title>

%if c.error_msg:

    <fb:dashboard>
        <fb:help href="help">Help Me!</fb:help>
    </fb:dashboard>

    <fb:tabs>
        <fb:tab-item href="index" title="Send a Gift" />
    %if c.is_app_user:
        <fb:tab-item href="received" title="Received" />
        <fb:tab-item href="sent" title="Sent" />
    %endif
        <fb:tab-item href="mission" title="Our Mission" />
    </fb:tabs>

    <div class="content">
        <fb:error message="There was an error with your request">
            <p>
                ${c.error_msg}
            <p>
        </fb:error>
    </div>
    
%else:

    <fb:mediaheader uid="${c.recipient_id}">
        <fb:header-title>A Gift to <fb:name uid="${c.recipient_id}" linked="false" capitalize="true" /></fb:header-title>
    </fb:mediaheader>
    
    <div class="side_links">
        <div class="side_link">
            <a href="${c.canvas_url}/">Give to a Friend</a>
        </div>
        <div class="side_link">
            <a href="${c.canvas_url}/mission">What is We Give?</a>
        </div>
        <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
    </div>
    <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>

    <div id="gift_box">
        <div id="gift_display">
            %if c.recipient_id:
                <div class="donor_pic"><fb:profile-pic uid="${c.donor_id}" size="q" /></div>
                <div class="gift_content">
                    From: <span class="donor_name"><fb:name uid="${c.donor_id}" capitalize="true" /></span>
                    <div class="gift_and_message">
                        <div class="gift_image"><img src="${h.gift_image_url(c.donation.gift_id)}" alt="${c.donation.gift.name}"></div>
                        <div class="gift_message">
                            ${h.literal(h.nl2br(c.donation.message))}
                        </div>
                        <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
                        <div class="benefitting">
                            $${"%.2f"%c.donation.amount} donation benefitting <a href="${c.donation.charity.url}" title="Go to ${c.donation.charity.name}'s website" target="_blank">${c.donation.charity.name}</a>
                        </div>
                    </div>
                </div>
            %endif
        </div>
    </div>

    % if c.show_welcome:
        <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
        <div class="fbbluebox" style="margin: 45px 30px 0;">
            <a href="${c.facebook.get_login_url()}">Authorize the We Give app</a> to add this gift to your profile and send meaningful gifts to your friends!
        </div>
    % endif
    
    
    <div class="comments_area">
        <fb:comments xid="wg-gift.${c.donation.id}" canpost="true" candelete="false" numposts="10" reverse="true" simple="true" showform="true" />
    </div>

%endif
