## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################

<fb:title>Help</fb:title>

<fb:dashboard>
    <fb:action href="index">Send a gift</fb:action>
    <fb:help href="http://apps.facebook.com/test-we-give/help">Help Me!</fb:help>
</fb:dashboard>


This is just a test.<br />

This is being rendered in version: <fb:fbmlversion />

