## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<%inherit file="/include/fb_base.tmpl"/>

<style>
#gift_case
{
    background-color: #F7F7F7;
    width: 630px;
    padding: 10px 65px;
}
</style>

<fb:title>Help</fb:title>

<fb:dashboard>
    <fb:action href="index">Send a gift</fb:action>
</fb:dashboard>

<div id="gift_case">
    <h3>Help for We Give</h3>
    <p>
        We are currently working on help content.  Please be patient while we ramp up the We Give service.
    </p>
    <p>
        Thank you.
    </p>
</div>
