## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################

<style>
#add_profile_box
{
    float: right;
}
.page_row
{
    margin: 20px 0;
    padding-left: 20px;
}
.page_row h3
{
    margin-bottom: 5px;
}
.placeholder
{
    color: #777777;
}
#gift_store
{
    /*border: 1px solid #CCCCCC;
    float: left;*/
    background-color: #F7F7F7;
    width: 630px;
    padding: 10px 65px;
}
#gifts_display
{
    /*float: left;
    width: 600px;*/
    background-color: #FFFFFF;
    padding: 8px 15px;
    border: 1px solid #DDDDDD;
}
#gifts_grid
{
    height: 300px;
    padding-left: 2px;
}
.gift_container
{
    float: left;
    padding: 3px;
    margin: 4px 0 0 4px;
    background-color: #CCCCCC;
}
a.gift
{
    display: block;
    height: 64px;
    width: 64px;
    background-color: #F7F7F7;
}
a.gift:hover
{
    background-color: #E7E7E7;
}
.gift img
{
    border: 0 none;
    width: 64px;
    height: 64px;
}
.gift_caption
{
    height: 22px;
    width: 64px;
    text-align: center;
}
#gifts_directory
{
    float: right;
    width: 140px;
    padding: 6px 9px 0;
}
#gifts_paginator
{
    padding: 4px 11px;
}
.gift_preview
{
    position: absolute;
    left: 430px;
    width: 105px;
    height: 130px;
}
.selected_gift_preview
{
    border: 2px solid #eeeeee;
}
#preview_name
{
    color: #888888;
}
.preview_img_cnt
{
    width: 64px;
    height: 64px;
    margin: 18px 0 0 20px;
}
.fbbluebox
{
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.privacy_control
{
    margin-bottom: 5px;
}
.privacy_control input
{
    float: left;
    margin-left: 6px;
}
.privacy_text
{
    margin-left: 27px;
    padding-top: 2px;
}
</style>

<fb:dashboard>
    <fb:help href="http://apps.facebook.com/test-we-give/help">Help Me!</fb:help>
</fb:dashboard>

<fb:if-section-not-added section="profile">
    <div id="add_profile_box">
        <fb:add-section-button section="profile" />
    </div>
    <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
</fb:if-section-not-added>

<fb:tabs>
    <fb:tab-item href="index" title="Send a Gift" selected="true" />
    <fb:tab-item href="received" title="Received" />
    <fb:tab-item href="sent" title="Sent" />
    <fb:tab-item href="mission" title="Our Mission" />
</fb:tabs>

<div id="gift_store">
    <div id="gifts_display">
        <div id="gifts_grid">
    % for gift in c.gifts:
            <div class="gift_container">
                <a href="#" onclick="selectGift(${gift.id}, '${gift.name}', 'http://images.wegivetofriends.org/dev/scratch/orb.png'); return false;" title="${gift.name}" class="gift">
                    <img src="http://images.wegivetofriends.org/dev/scratch/orb.png" alt="${gift.name}">
                </a>
                <div class="gift_caption">
                    $1
                </div>
            </div>
    % endfor
        </div>
        <div id="gifts_paginator" class="clearfix">
            Displaying 1 - ${len(c.gifts)} gifts.
        </div>
    </div>
    <!-- div id="gifts_directory">
        Browse:
    </div -->
</div>

<div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>

<fb:if-is-app-user>
<fb:else>
    <div class="page_row">
        <div id="add-app-to-send" class="fbbluebox">
            <a href="${c.facebook.get_login_url()}">Add this app</a> to send meaningful gifts to your friends!
        </div>
    </div>
</fb:else>
</fb:if-is-app-user>

<script>
<!--
    function alltrim(str)
    {
        return str.replace(/^\s+|\s+$/g, '');
    }
    
    function isValidAmount(str)
    {
        if (str == null)
            return false;
        
        str = alltrim(str);
        return /^[1-9]\d*(\.\d{2})?$/.test(str);
    }
    
    function displayError(title, message, context)
    {
        if (!context)
        {
            new Dialog(Dialog.DIALOG_POP).showMessage(title, message);
        }
        else
        {
            new Dialog(Dialog.DIALOG_CONTEXTUAL).setContext(context).showMessage(title, message);
        }
    }
    
    function checkForm(form)
    {
        var params = form.serialize();
        
        if (params.gift_id == '')
        {
            displayError("Error", "Please select a gift.");
            return false;
        }
        else if (params.friend_selector_id == null || params.friend_selector_id == '')
        {
            displayError("Error", "Please select a recipient.");
            return false;
        }
        else if (alltrim(params.amount) == '')
        {
            var context = document.getElementById('gift_amount');
            var msg = "Please specify an amount for the donation. (empty)";
            displayError("Error", msg, context);
            return false;
        }
        else if (!isValidAmount(params.amount))
        {
            var context = document.getElementById('gift_amount');
            var msg = "Please specify a valid amount for the donation.";
            displayError("Error", msg, context);
            return false;
        }
        else if (params.charity_val == '')
        {
            var context = document.getElementById('gift_charity');
            var msg = "Please select a charity.";
            displayError("Error", msg, context);
            return false;
        }
        else if (params.message == 'Your message here...' || alltrim(params.message) == '')
        {
            var context = document.getElementById('gift_message');
            var msg = "Please add your message to the recipient.";
            displayError("Error", msg, context);
            return false;
        }
        
        return true;
    }
    
    function selectGift(giftId, name, imgSrc)
    {
        var gidEl = document.getElementById('gift_id');
        gidEl.setValue(giftId);
        var imgEl = document.getElementById('preview_img');
        imgEl.setSrc(imgSrc);
        var nameEl = document.getElementById('preview_name');
        nameEl.setTextValue(name);
        var previewEl = document.getElementById('preview_box');
        previewEl.addClassName('selected_gift_preview');
    }
//-->
</script>

<form id="gift_form" name="gift_form" action="send_gift" method="post" onsubmit="return checkForm(this);">

<input type="hidden" name="gift_id" id="gift_id" value="" />

<div class="page_row">
    <h3>Choose your recipient:</h3>
    <fb:friend-selector />
</div>

<div class="gift_preview" id="preview_box">
    <div class="preview_img_cnt">
        <img src="http://images.wegivetofriends.org/dev/scratch/blank.gif" id="preview_img"><span id="preview_name"></span>
    </div>
</div>

<div class="page_row">
    <h3>Add your message:</h3>
    <textarea id="gift_message" name="message" rows="4" cols="40" class="placeholder" onfocus="if(this.getValue()=='Your message here...'){this.setValue('');this.removeClassName('placeholder');}" onblur="if(this.getValue()==''){this.setValue('Your message here...');this.addClassName('placeholder');}">Your message here...</textarea>
</div>

<div class="page_row">
    <h3>Specify the amount:</h3>
    $ <input id="gift_amount" type="text" name="amount" class="inputtext" value="1.00" /> USD
</div>

<div class="page_row">
    <h3>Select the charity:</h3>
        <select name="charity_val" id="gift_charity">
    % for charity in c.charities:
            <option value="${charity.id}">${charity.name}</option>
    % endfor
        </select>
##    <fb:fbml version="1.1">
##        <fb:typeahead-input name="charity" autocomplete="off" size="40">
##    % for charity in c.charities:
##            <fb:typeahead-option value="${charity.id}">${charity.name}</fb:typeahead-option>
##    % endfor
##        </fb:typeahead-input>
    </fb:fbml>
</div>

<div class="page_row">
    <h3>Delivery method:</h3>
    <div id="privacy_controls">
        <div class="privacy_control">
            <input type="radio" id="deliver_public" name="privacy" value="public" checked="checked"/>
            <div class="privacy_text">
                <label for="deliver_public">Public</label><br/>
                People will see your gift and message.
            </div>
        </div>
        <div class="privacy_control">
            <input type="radio" id="deliver_private" name="privacy" value="private"/>
            <div class="privacy_text">
                <label for="deliver_private">Private</label><br/>
                People will see the gift but only the recipient will see your name and message.
            </div>
        </div>
    </div>
</div>

<div class="page_row">
    <input type="submit" value="Continue" class="inputsubmit" />
</div>

</form>


