## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################

<fb:title>Our Mission</fb:title>

<fb:dashboard>
    <fb:help href="http://apps.facebook.com/test-we-give/help">Help Me!</fb:help>
</fb:dashboard>

<fb:tabs>
    <fb:tab-item href="index" title="Send a Gift" />
    <fb:tab-item href="received" title="Received" />
    <fb:tab-item href="sent" title="Sent" />
    <fb:tab-item href="mission" title="Our Mission" selected="true" />
</fb:tabs>

<h3>Welcome to the app</h3>

This is just a test.<br />

This is being rendered in version: <fb:fbmlversion />
