## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<%inherit file="/include/fb_base.tmpl"/>

<style>
a.anchor_button
{
    text-decoration: none;
    padding: 3px 18px 4px;
}
.page_row
{
    margin: 20px 0;
    padding-left: 20px;
}
.page_row h3
{
    margin-bottom: 5px;
}
#gift_store
{
    /*border: 1px solid #CCCCCC;
    float: left;*/
    background-color: #F7F7F7;
    width: 630px;
    padding: 10px 65px;
}
.gift_store_row
{
    margin: 20px 0;
}
#gift_box
{
    /*float: left;
    width: 600px;*/
    background-color: #FFFFFF;
    padding: 8px 15px;
    border: 1px solid #DDDDDD;
    margin-top: 4px;
}
.recipient_pic
{
    position: absolute;
}
.recipient_name
{
    color: #888888;
    font-weight: bold;
}
.gift_content
{
    min-height: 50px;
    padding: 0 0 0 60px;
}
.gift_and_message
{
    padding: 15px 8px 8px 0;
}
.gift_image
{
    margin: 0 0 0 15px;
    float: left;
}
.gift_message
{
    background: #f7f7f7;
    padding: 15px 10px;
    margin-left: 100px;
    border: 1px solid #e7e7e7;
}



.gift
{
    height: 64px;
    width: 64px;
    background-color: #F7F7F7;
}
.gift_caption
{
    height: 22px;
    width: 64px;
    text-align: center;
}
.fbbluebox
{
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
</style>

<fb:dashboard>
    <fb:help href="help">Help Me!</fb:help>
</fb:dashboard>

<fb:tabs>
    <fb:tab-item href="index" title="Send a Gift" selected="true" />
%if c.is_app_user:
    <fb:tab-item href="received" title="Received" />
    <fb:tab-item href="sent" title="Sent" />
%endif
    <fb:tab-item href="mission" title="Our Mission" />
</fb:tabs>

<div id="gift_store">
%if c.error_msg:
    <fb:error message="There was an error with your request">
        <p>
            ${c.error_msg}
        <p>
        <p>
            Please go back and try again.
        </p>
    </fb:error>
%else:
    <h3>Preview your gift:</h3>

    <div id="gift_box">
        <div id="gift_display">
            %if c.recipient_id:
                <div class="recipient_pic"><fb:profile-pic uid="${c.recipient_id}" size="q" linked="false" /></div>
                <div class="gift_content">
                    To: <span class="recipient_name"><fb:name uid="${c.recipient_id}" linked="false" /></span>
                    <div class="gift_and_message">
                        <div class="gift_image"><img src="${h.gift_image_url(c.gift.id)}" alt="${c.gift.name}"></div>
                        <div class="gift_message">
                            ${h.literal(h.nl2br(c.message))}
                        </div>
                        <div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>
                    </div>
                </div>
            %endif
        </div>
    </div>
    <div class="gift_store_row">
        Your donation of $${c.donation_amt} to ${c.charity_name} will be processed through Amazon Payments.
    </div>
    <div class="gift_store_row">
        <a href="${c.direct_url}" class="inputbutton anchor_button">Continue with donation</a> <a href="index">Cancel</a>
##        <div id="testdiv">Test text</div>
    </div>
%endif
</div>

<div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>


