## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################

<style>
.page_row
{
    margin: 20px 0;
    padding-left: 20px;
}
.page_row h3
{
    margin-bottom: 5px;
}
#gift_store
{
    /*border: 1px solid #CCCCCC;
    float: left;*/
    background-color: #F7F7F7;
    width: 630px;
    padding: 10px 65px;
}
.gift_store_row
{
    margin: 20px 0;
}
#gift_box
{
    /*float: left;
    width: 600px;*/
    background-color: #FFFFFF;
    padding: 8px 15px;
    border: 1px solid #DDDDDD;
}
#gifts_grid
{
    height: 300px;
    padding-left: 2px;
}
.gift_container
{
    float: left;
    padding: 3px;
    margin: 4px 0 0 4px;
    background-color: #CCCCCC;
}
.gift
{
    height: 64px;
    width: 64px;
    background-color: #F7F7F7;
}
.gift_caption
{
    height: 22px;
    width: 64px;
    text-align: center;
}
#gifts_directory
{
    float: right;
    width: 140px;
    padding: 6px 9px 0;
}
#gifts_paginator
{
    padding: 4px 11px;
}
.fbbluebox
{
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.privacy_control
{
    margin-bottom: 5px;
}
.privacy_control input
{
    float: left;
    margin-left: 6px;
}
.privacy_text
{
    margin-left: 27px;
    padding-top: 2px;
}
</style>

<fb:title>Your Gift Was Sent</fb:title>

<fb:dashboard>
    <fb:help href="help">Help Me!</fb:help>
</fb:dashboard>

<fb:tabs>
    <fb:tab-item href="index" title="Send a Gift" />
%if c.is_app_user:
    <fb:tab-item href="received" title="Received" />
    <fb:tab-item href="sent" title="Sent" />
%endif
    <fb:tab-item href="mission" title="Our Mission" />
</fb:tabs>

<div id="gift_store">
%if c.error_msg:
    <fb:error message="There was an error with your request">
        <p>
            ${c.error_msg}
        <p>
        <p>
            Please go back and try again.
        </p>
    </fb:error>
%else:
    <div id="gift_box">
        <div id="gift_display">
            %if c.recipient_fb_uid:
                To: <fb:profile-pic uid="${c.recipient_fb_uid}" size="q" />
            %endif
        </div>
    </div>
    <div class="gift_store_row">
        <%
            method_desc = {'CC':'credit card payment', 'ACH':'bank transfer', 'ABT':'Amazon Payments balance transfer'}[c.payment_method]
            status_desc = {'Success':'succeeded', 'Pending':'is pending', 'Failure':'did not succeed', 'Cancelled':'was cancelled'}[c.pay_status]
        %>
        Your donation of $${'%.2f' % c.donation.amount} to ${c.donation.charity.name} has been authorized through Amazon Payments.  Your ${method_desc} ${status_desc}.
    </div>
    %if c.pay_status == 'Pending':
    <div class="gift_store_row">
        When the payment is confirmed, your gift to <fb:name uid="${c.recipient_fb_uid}" firstnameonly="true" reflexive="true" /> will be delivered to <fb:pronoun uid="${c.recipient_fb_uid}" possessive="true" /> profile box.
    </div>
    %endif
    %if c.pay_status == 'Success':
    <div class="gift_store_row">
        Your gift to <fb:name uid="${c.recipient_fb_uid}" firstnameonly="true" reflexive="true" /> has been delivered to <fb:pronoun uid="${c.recipient_fb_uid}" possessive="true" /> profile box.
    </div>
    %endif
    <div class="gift_store_row">
        On behalf of <a href="${c.donation.charity.url}" title="Go to ${c.donation.charity.name}'s website" target="_blank">${c.donation.charity.name}</a>, thank you for your donation!
    </div>
%endif
</div>

<div style="height: 1px; font-size: 1px; clear: both;">&nbsp;</div>


