## -*- coding: utf-8 -*-
##
## Base template for the We Give Facebook application canvas pages.
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################

${next.body()}
${self.tracker()}

<%def name="tracker()">
    <fb:google-analytics uacct="UA-9214235-2" />
</%def>
