## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<%inherit file="/include/base.tmpl"/>

<%def name="head()">
    ${parent.head()}
    <!-- play with CSS here -->
    <style type="text/css">
        .foo
        {
            color: red;
        }
    </style>
</%def>

    <div class="content">
    
        <h3>Welcome</h3>
        
        <p> <!--style="margin: 40px auto; width: 80%; background: #FFFFFF;" -->
            We Give to Friends is currently active on Facebook.  Visit our app, <a href="http://apps.facebook.com/we-give/">We Give on Facebook</a>.<br><br>
        
            <%doc>
            Go to <a href="/admin/">the admin</a>.
            </%doc>
        </p>

    </div>
