<html>
<head>
    <title>We Give to Friends</title>
</head>
<body style="background: #FFFFFB;">
    <p style="margin: 40px auto; width: 80%; background: #FFFFFF;">
        We Give to Friends is currently active on Facebook.  Visit our <a href="http://apps.facebook.com/test-we-give/">(test) Facebook App</a>.<br><br>
        
        Go to <a href="/admin/">the admin</a>.
    </p>
    <div style="margin: 0 auto; width: 80%; background: #EEEEEE;">
        Copyright 2009 &copy; We Give Foundation. All rights reserved.
    </div>
</body>