## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<%inherit file="/include/base.tmpl"/>

<%def name="head()">
    ${parent.head()}
    <!-- play with CSS here -->
    <style type="text/css">
        .content
        {
            padding-bottom: 100px;
        }
        .content a:link,
        .content a:visited,
        .content a:hover
        {
            color: blue;
            text-decoration: none;
        }
        .content a:hover
        {
            text-decoration: underline;
        }
        .facebook_badge
        {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        .facebook_badge img
        {
            border: 0;
        }
    </style>
</%def>

    <div class="content">
    
        <h3>Welcome</h3>
        
        <p> <!--style="margin: 40px auto; width: 80%; background: #FFFFFF;" -->
            We Give to Friends is currently active on Facebook.  Visit our app, <a href="http://apps.facebook.com/we-give/">We Give on Facebook</a>.<br><br>
        
            <%doc>
            Go to <a href="/admin/">the admin</a>.
            </%doc>
        </p>
        
        <div class="facebook_badge">
            <a href="http://apps.facebook.com/we-give/"><img height="44" width="144" src="find_us_on_facebook_badge.gif" /></a>
        </div>

    </div>
