## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<%inherit file="/include/base.tmpl"/>

<%def name="title()">We Give | Terms of Service</%def>
<%def name="head()">
    <meta name="robots" content="noindex">
    ${parent.head()}
    <style type="text/css">
        .last_modified
        {
            font-size: 93%;
        }
        .content a:link,
        .content a:visited
        {
            color: #3333FF;
            text-decoration: none;
        }
        .content a:hover
        {
            color: #3333FF;
            text-decoration: underline;
        }
        .content em
        {
            font-weight: bold;
            font-style: normal;
        }
        .content ol ol
        {
            list-style-type: lower-alpha;
        }
        .content ol ol ol
        {
            list-style-type: decimal;
        }
    </style>
</%def>

    <div class="content">
        <h3>Terms of Service</h3>

        <p class="last_modified">
            Last modified: June 7, 2009
        </p>

        <p>
            Welcome to We Give!  These terms apply to your use of the <a href="http://www.wegivetofriends.org">www.wegivetofriends.org</a> website and its respective applications and interfaces for social networks (collectively, the <em>"Site"</em>). By accessing, browsing, crawling, scraping or in any way using the Site, you agree to these terms, our privacy policy (the <em>"Privacy Policy"</em>), and all other guidelines or policies referenced herein (collectively, the <em>"Terms of Service"</em>). Please read the Terms of Service carefully. Your use of the Site constitutes your acceptance of the Terms of Service. Do not use the Site if you are unwilling or unable to be bound by the Terms of Service.
        </p>
        
        <ol>
            <li>
                <h4>Definitions.</h4>
                <ol>
                    <li>A <b>"user"</b> is anyone who accesses, browses, crawls, scrapes, or in any
                    way uses the Site. The terms <b>"you"</b> and <b>"your"</b> refer to you, as a user
                    of the Site. The terms <b>"we"</b>, <b>"us"</b>, <b>"We Give"</b>, and <b>"We Give Foundation"</b>
                    refer to We Give, LLC., a California limited liability company.</li>
                    
                    <li><b>"Content"</b> means text, images, photos, audio, video, and all other forms
                    of data or communication. <b>"Your Content"</b> means Content that you submit,
                    post, or transmit to, or using, the Site, such as the gift messages,
                    information that you display as part of your
                    account profile, invitations, or other commentary that you may submit,
                    post, or transmit to, or using, the Site. Your Content does not include
                    the information that you submit in order to create an account on the
                    Site. <b>"User Content"</b> means Content that users submit, post, or transmit
                    to, or using, the Site. <b>"We Give Content"</b> means Content that is created by We Give and made available on the Site. <b>"Third Party Content"</b> means
                    Content that is made available on the Site by parties other than We Give
                    or the users, such as data providers that license data to We Give for use
                    on the Site. <b>"Site Content"</b> means all of the Content that is made
                    available on the Site, including Your Content, User Content, Third
                    Party Content, and We Give Content.</li>
                </ol>
            </li>
            
            <li>
                <h4>Eligibility.</h4>
                <p>
                    You must be at least 18 years old and a resident of the United States.
                    Otherwise, you may not use the Site. If you use the Site on behalf of a
                    company, entity, or organization, you must be an authorized
                    representative with the authority to bind it to the Terms of Service
                    (which authority you hereby exercise).
                </p>
            </li>
            
            <li>
                <h4>Changes to the Terms of Service.</h4>
                <p>
                    The Terms of Service may be modified by We Give at any time. When changes
                    are made, we will notify you by making the revised version available on
                    this webpage and will indicate at the top of this page the date that
                    revisions were last made. You should revisit these Terms of Service on
                    a regular basis as revised versions will be binding on you. Any such
                    modification will be effective upon We Give's posting of new Terms of
                    Service. <b>Your continued use of the Site after any posted modification
                    to the Terms of Service indicates your acceptance of the modification.</b>
                </p>
            </li>
            
            <li>
                <h4>User Accounts.</h4>
                <p>
                    To use some of the features on the Site, you may be required to create
                    an account and provide information about yourself to us. You are
                    responsible for maintaining the confidentiality of your account
                    password. You are also responsible for all activities that occur in
                    connection with your account. You agree to notify us immediately of any
                    unauthorized use of your account. We reserve the right to close your
                    account at any time for any or no reason. There are two types of
                    accounts:
                </p>
                <ol>
                    <li>A <b>"Personal Account"</b> is an account for your personal, non-commercial
                    use only, and may be used to submit, post, and transmit donation gifts, messages, invitations, commentary, photographs,
                    and other types of User Content. In creating a Personal Account, we ask
                    that you provide complete and accurate information about yourself in
                    order to bolster your credibility as a contributor to the Site, though
                    you may opt instead to provide information that does not make you
                    personally identifiable. Notwithstanding the foregoing, you may not
                    impersonate someone else (e.g., adopt the identity of a celebrity or
                    your next-door neighbor), provide an email address other than your own,
                    or create multiple Personal Accounts.</li>
                    
                    <li>A <b>"Charity Account"</b> is an account for use on the Site as a
                    representative of a non-profit charity that is listed on the Site. In creating or
                    updating a Charity Account, you must be an authorized representative
                    of the non-profit charity in question, and you must provide complete and accurate
                    information about yourself and the charity you represent. You may not
                    provide an email address that is not your own or create multiple Charity Accounts for the same non-profit charity.</li>
                </ol>
            </li>
            
            <li>
                <h4>Use of the Site.</h4>
                <ol>
                    <li>Subject to the restrictions in these Terms of Service, We Give grants you
                    permission to use the Site, including the ability to: (a) send donation gifts, (b) post messages on talk
                    boards, (c) send messages to other Users, and (d) invite people you
                    know to register with We Give.</li>
                    
                    <li>You will be exposed to User Content and Third Party Content on the
                    Site. You understand that such content may be offensive, indecent,
                    inaccurate, objectionable, or otherwise inappropriate. We Give does not
                    endorse User Content or Third Party Content, and cannot vouch for its
                    accuracy.</li>
                </ol>
            </li>
            
            <li>
                <h4>Restrictions on Use.</h4>
                <p>You agree that you will not:</p>
                
                <ol>
                    <li>use the Site to threaten, stalk, defraud, incite, harass, or advocate
                    the harassment of another person, or otherwise interfere with another
                    user's use of the Site;</li>
                    
                    <li>use the Site to transmit or post spam, chain letters, contests, junk
                    email, pyramid schemes, surveys, or other mass messaging, whether
                    commercial in nature or not;</li>
                    
                    <li>use the Site for promotional or commercial purposes, except as expressly permitted by We Give;</li>
                    
                    <li>use the Site to promote bigotry or discrimination against protected classes;</li>
                    
                    <li>use the Site to violate any third-party right, including any breach of
                    confidence, copyright, trademark, patent, trade secret, moral right,
                    privacy right, right of publicity, or any other intellectual property
                    or proprietary right;</li>
                    
                    <li>use the Site to transmit or post pornography or illegal content;</li>
                    
                    <li>use the Site to solicit personal information from minors or to harm or threaten to cause harm to minors;</li>
                    
                    <li>use the Site in violation of the Terms of Service or any applicable law;</li>
                    
                    <li>modify, adapt, appropriate, reproduce, distribute, translate, create
                    derivative works or adaptations of, publicly display, sell, trade, or
                    in any way exploit the Site or Site Content (other than Your Content),
                    except as expressly authorized by We Give;</li>
                    
                    <li>reverse engineer any portion of the Site, except as may be permitted under the law;</li>
                    
                    <li>remove or modify any copyright, trademark or other proprietary rights
                    notice on the Site or on any materials printed or copied off of the
                    Site;</li>
                    
                    <li>record, process, or mine information about other users;</li>
                    
                    <li>use any robot, spider, site search/retrieval application, or other
                    automated device, process or means to access, retrieve, scrape, or
                    index the Site or any Site Content;</li>
                    
                    <li>reformat or frame any portion of the Site;</li>
                    
                    <li>take any action that imposes, or may impose in our sole discretion, an
                    unreasonable or disproportionately large load on We Give's technology
                    infrastructure;</li>
                    
                    <li>attempt to gain unauthorized access to the Site, user accounts,
                    computer systems or networks connected to the Site through hacking,
                    password mining or any other means; use the Site or any Site Content to
                    transmit any computer viruses, worms, defects, Trojan horses or other
                    items of a destructive nature (collectively, <b>"Viruses"</b>); use any
                    device, software or routine that interferes with the proper working of
                    the Site, or otherwise attempt to interfere with the proper working of
                    the Site; make excessive traffic demands; use the Site to violate the
                    security of any computer network, crack passwords or security
                    encryption codes; disrupt or interfere with the security of, or
                    otherwise cause harm to, the Site or Site Content; remove, circumvent,
                    disable, damage or otherwise interfere with any security-related
                    features of the Site, features that prevent or restrict the use or
                    copying of Site Content, or features that enforce limitations on the
                    use of the Site.</li>
                </ol>
            </li>
            
            <li>
                <h4>Permission to Use Your Content.</h4>
                <ol>
                    <li>You grant We Give the irrevocable right to use Your Content for any
                    purpose, including but not limited to the right to reformat it, edit
                    it, publish it, associate it with your account name, incorporate it
                    into other works, create derivative works from it, distribute it,
                    promote it, and license these same rights to third parties for use in
                    connection with other media platforms (<b>"Other Media"</b>).</li>
                    
                    <li>You grant the Site's users and the users of any Other Media the
                    irrevocable right to access Your Content in connection with their use
                    of the Site and any Other Media.</li>
                    
                    <li>You irrevocably waive, and cause to be waived, any claims and
                    assertions of moral rights or attribution with respect to Your Content.</li>
                </ol>
            </li>
            
            <li>
                <h4>Responsibility for Your Content.</h4>
                <ol>
                    <li>You are solely responsible for Your Content. You assume all risks
                    associated with use of Your Content, including any reliance on its
                    accuracy, completeness or usefulness by others, or any disclosure by
                    you of information in Your Content that makes you personally
                    identifiable. You represent that you own, or have the necessary
                    permissions to use, and authorize the use of Your Content as described
                    herein. You may not imply that Your Content is in any way sponsored or
                    endorsed by We Give.</li>
                    
                    <li>Because you alone are responsible for Your Content (and not We Give), you
                    may expose yourself to liability if, for example, Your Content violates
                    a third party's rights, including any copyright, trademark, patent,
                    trade secret, moral right, privacy right, right of publicity, or any
                    other intellectual property or proprietary right; contains material
                    that is false, intentionally misleading, or defamatory; contains
                    material that is unlawful, including illegal hate speech or
                    pornography; exploits or otherwise harms minors; or violates or
                    advocates the violation of any law or regulation.</li>
                </ol>
            </li>
            
            <li>
                <h4>Use of Content.</h4>
                <ol>
                    <li>We Give may or may not use User Content in its sole discretion. For
                    example, we may choose not to publish User Content if we believe it
                    violates the Terms of Service or content guidelines. In addition,
                    please note that we have no obligation to retain or provide you with
                    copies of Your Content, nor do we guarantee any confidentiality with
                    respect to Your Content.</li>
                    
                    <li>We Give and its licensees may display advertisements and other information
                    adjacent to or included with Your Content on the Site and Other Media.
                    You are not entitled to any compensation for such advertisements. The
                    manner, mode and extent of such advertising are subject to change
                    without specific notice to you.</li>
                </ol>
            </li>
            
            <li>
                <h4>Copyright Dispute Policy.</h4>
                <p>
                    We Give has adopted the following policies and procedures toward copyright
                    infringement in accordance with Title 17, United States Code, Section
                    512(c), which is part of the Digital Millennium Copyright Act (<b>"DMCA"</b>).
                    The electronic address of We Give's Designated Agent to Receive Notification of
                    Claimed Infringement (<b>"Designated Agent"</b>) is provided at the bottom of
                    this section. It is We Give's policy to (i) respond to notices of alleged
                    copyright infringement that comply with the DMCA; and (ii) terminate
                    the accounts of those determined by We Give to be <b>"repeat infringers"</b>.
                </p>

                <ol>
                    <li>
                        <p>
                            <b>Procedure for Reporting Copyright Infringements.</b> If you are a copyright
                            owner or agent thereof, and believe that your copyright is being
                            infringed in connection with the Site, please send an electronic
                            notification to the Designated Agent detailing the alleged
                            infringement. Your electronic notification must include:
                        </p>
                    
                        <ol>
                            <li>Identification of the copyrighted work that you claim has been infringed;</li>
                        
                            <li>Identification of the Content on the Site that allegedly infringes upon
                            the copyrighted work at issue, and information reasonably sufficient to
                            permit We Give to locate such Content;</li>
                    
                            <li>A statement by you that you have a good faith belief that the use of
                            the Content identified in your notice in the manner complained of is
                            not authorized by the copyright owner, its agent, or the law;</li>
                    
                            <li>A statement by you that you attest, under penalty of perjury, that the
                            information in your notice is accurate and that you are the copyright
                            owner or authorized to act on the copyright owner's behalf; and</li>
                    
                            <li>Your physical or electronic signature, together with your contact
                            information (address, telephone number and, if available, email
                            address).</li>
                        </ol>
                
                        <p>
                            Please note that We Give may, at its sole discretion, send a copy of such
                            notices to third parties for publication. For example, your letter
                            (with personal information removed) may be forwarded to Chilling
                            Effects (<a title="http://www.chillingeffects.org" href="http://www.chillingeffects.org" id="iz1h">http://www.chillingeffects.org</a>) for publication. Please note
                            that you may be subject to liability under Section 512(f) of the DMCA
                            if you materially misrepresent that content on the Site infringes your
                            copyright.
                        </p>
                    </li>
            
                    <li>
                        <p>
                            <b>Procedure to Supply a Counter-Notice to the Designated Agent.</b> If you
                            believe that Content has been mistakenly removed from the Site pursuant
                            to this DMCA policy, you may send a written counter-notice to the
                            Designated Agent including the following:
                        </p>
                    
                        <ol>
                            <li>Identification of the Content that was removed, and the location on the
                            Site where it would have been found prior to its removal;</li>
                            
                            <li>A statement under penalty of perjury that you have a good faith belief
                            that the Content was removed as a result of a mistake or
                            misidentification;</li>
                            
                            <li>A statement that you consent to the jurisdiction of the Federal
                            District Court for the judicial district in which your address is
                            located, or if your address is located outside the United States, for
                            any judicial district in which We Give is located, and that you will
                            accept service of process from the person who provided notification
                            under 512(c)(1)(C) or an agent of such person; and</li>
                            
                            <li>Your physical or electronic signature, together with your contact
                            information (address, telephone number and, if available, email
                            address).</li>
                        </ol>
                    </li>
                    
                    <li>
                        <p><b>Address for Designated Agent.</b> Please contact the Designated Agent at the following electronic address:</p>
                        
                        <p>
                            Mark Ture<br>
                            Copyright Agent, We Give, LLC.<br>
                            Email to: <a href="mailto:legal@wegivetofriends.org">legal@wegivetofriends.org</a>
                        </p>
                        <p>
                            The Designated Agent should only be contacted in connection with the
                            issues raised in this Section. All other inquiries directed to the
                            Designated Agent will not be responded to; instead, such inquiries
                            should be made through the procedures referenced in Sections 15 or 22
                            below.
                        </p>
                    </li>
                </ol>
            </li>
            
            <li>
                <h4>Site Availability.</h4>
                <p>
                    We Give reserves the right (but is under no obligation) to modify, update,
                    or discontinue the Site at its sole discretion, at any time, for any or
                    no reason, and without notice or liability.
                </p>
            </li>
            
            <li>
                <h4>Unauthorized Access.</h4>
                <p>
                    We Give reserves the right to exercise whatever lawful means it deems
                    necessary to prevent unauthorized access to or use of the Site,
                    including, but not limited to, technological barriers, IP mapping, and
                    contacting your Internet Service Provider (ISP) regarding such
                    unauthorized use.
                </p>
            </li>
            
            <li>
                <h4>Investigations.</h4>
                <p>
                    We Give is under no obligation to monitor the Site or Site Content.
                    However, we reserve the right to investigate possible violations of the
                    Terms of Service, block users from the Site, and refer matters to law
                    enforcement authorities for further investigation. We Give may disclose
                    information to third parties, including Your Content, in accordance
                    with its Privacy Policy.
                </p>
            </li>
            
            <li>
                <h4>Feedback.</h4>
                <ol>
                    <li><b>Dissatisfaction.</b> If you are dissatisfied with the Site, please let us
                    know by providing feedback to the customer support team through our
                    contacts page <a href="/contact">here</a>. Your input is valuable to us. Your only other
                    remedy with respect to any dissatisfaction with (i) the Site, (ii) the
                    Terms of Service, (iii) any policy or practice of We Give in operating the
                    Site, or (iv) any content or information transmitted through the Site,
                    is to terminate the Terms of Service and close your account.</li>
                
                    <li><b>Suggestions and Improvements.</b> By sending us any ideas, suggestions,
                    documents and/or proposals (<b>"Feedback"</b>), you agree that (i) your
                    Feedback does not contain the confidential or proprietary information
                    of third parties, (ii) we are under no obligation of confidentiality,
                    express or implied, with respect to the Feedback, (iii) we may have
                    something similar to the Feedback already under consideration or in
                    development, and (iv) you grant us an irrevocable, non-exclusive,
                    royalty-free, perpetual, worldwide license to use, modify, publish,
                    distribute and sublicense the Feedback.</li>
                </ol>
            </li>
            
            <li>
                <h4>Termination.</h4>
                <ol>
                    <li>We Give may terminate or suspend your account or ability to use the Site,
                    in whole or in part, at We Give's sole discretion, for any or no reason,
                    and without notice or liability of any kind. For example, we may
                    terminate or suspend your account or ability to use the Site if you
                    breach the Terms of Service or are suspected of involvement in illegal
                    activity. Any such termination or suspension could prevent you from
                    accessing your account, the Site, Your Content, Site Content, or any
                    other related information.</li>
                    
                    <li>You may terminate the Terms of Service at any time by closing your
                    account, discontinuing your use of any and all parts of the Site, and
                    providing We Give with a notice of termination <a href="/contact">here</a>
                    with the subject "Close my account".</li>
                    
                    <li>In the event of any termination, whether by you or us, Sections 7, 8,
                    9, 10, 13, 14, 15, 16, 17, 18, and 20 of the Terms of Service will
                    continue in full force and effect, including We Give's rights with respect
                    to Your Content, as detailed in Section 7.</li>
                </ol>
            </li>
            
            <li>
                <h4>Ownership.</h4>
                <p>
                    We Give owns the We Give Content, including but not limited to visual
                    interfaces, interactive features, graphics, design, compilation,
                    computer code, products, software, aggregate user review ratings, and
                    all other elements and components of the Site excluding User Content
                    and Third Party Content. We Give also owns the copyrights, trademarks,
                    service marks, trade names, and other intellectual and proprietary
                    rights throughout the world (the "IP Rights") associated with the We Give
                    Content and the Site, which are protected by copyright, trade dress,
                    patent, trademark laws and all other applicable intellectual and
                    proprietary rights and laws. As such, you may not modify, reproduce,
                    distribute, create derivative works or adaptations of, publicly display
                    or in any way exploit, any of the We Give Content in whole or in part
                    except as expressly authorized by We Give. Except as expressly and
                    unambiguously provided herein, We Give does not grant you any express or
                    implied rights, and all rights in and to the Site and the We Give Content
                    are retained by We Give.
                </p>
            </li>
            
            <li>
                <h4>Warranties, Disclaimers, and Limitations of Liability.</h4>
                <ol>
                    <li>THE SITE AND ALL SITE CONTENT IS MADE AVAILABLE TO YOU ON AN "AS IS"
                    BASIS. WE GIVE MAKES NO WARRANTIES, REPRESENTATIONS, OR CONDITIONS OF ANY
                    KIND, EXPRESS, STATUTORY OR IMPLIED AS TO (1) THE OPERATION AND
                    FUNCTIONALITY OF THE SITE, (2) THE ACCURACY, INTEGRITY, COMPLETENESS,
                    QUALITY, LEGALITY, USEFULNESS, SAFETY, AND IP RIGHTS OF ANY OF THE SITE
                    CONTENT, INCLUDING BUT NOT LIMITED TO THE ACCURACY OF NON-PROFIT INFORMATION AND CHARITY INFORMATION LISTED ON THE SITE, AND (3) THE PRODUCTS AND
                    SERVICES ASSOCIATED WITH THE SITE OR SITE CONTENT, INCLUDING BUT NOT
                    LIMITED TO THE PRODUCTS AND SERVICES SOLD BY BUSINESSES LISTED ON THE
                    SITE. WE GIVE FURTHER DISCLAIMS ALL WARRANTIES, EXPRESS, STATUTORY, OR
                    IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
                    MERCHANTABILITY, MERCHANTABLE QUALITY, DURABILITY, FITNESS FOR A
                    PARTICULAR PURPOSE AND NON-INFRINGEMENT. NO ADVICE OR INFORMATION,
                    WHETHER ORAL OR WRITTEN, THAT YOU OBTAIN FROM WE GIVE OR THE SITE SHALL
                    CREATE ANY WARRANTY, REPRESENTATION, OR CONDITION NOT EXPRESSLY STATED
                    HEREIN.</li>
                    
                    <li>WE GIVE DISCLAIMS ALL LIABILITY FOR ANY (A) INDIRECT, SPECIAL, INCIDENTAL,
                    PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL DAMAGES, (B) LOSS OF
                    PROFITS, (C) BUSINESS INTERRUPTION, (D) LOSS OF OR DAMAGE TO REPUTATION
                    OF WE GIVE OR ANY THIRD PARTY, OR (E) LOSS OF INFORMATION OR DATA.</li>
                    
                    <li>WE GIVE FURTHER DISCLAIMS ALL LIABILITY FOR ANY LOSS OR DAMAGE ARISING OUT
                    OF YOUR USE OF THE SITE AND SITE CONTENT. YOUR USE OF THE SITE AND SITE
                    CONTENT IS AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY
                    RESPONSIBLE FOR ANY RESULTING LOSS OR DAMAGE, INCLUDING BUT NOT LIMITED
                    TO ANY LOSS OF DATA OR DAMAGE TO YOUR COMPUTER FROM VIRUSES THAT MAY BE
                    DOWNLOADED TO YOUR COMPUTER IN THE COURSE OF USING THE SITE.</li>
                    
                    <li>WE GIVE ALSO DISCLAIMS ALL LIABILITY FOR ANY LOSS OR DAMAGE ARISING OUT OF
                    YOUR COMMUNICATIONS OR DEALINGS WITH ANY OF THE BUSINESSES,
                    ADVERTISERS, OR USERS ON THE SITE. YOUR COMMUNICATIONS OR DEALINGS WITH
                    SUCH BUSINESSES, ADVERTISERS, AND USERS ARE SOLELY BETWEEN YOU AND
                    THEM, THOUGH WE GIVE RESERVES THE RIGHT (BUT HAS NO OBLIGATION) TO MONITOR
                    DISPUTES BETWEEN YOU AND THEM.</li>
                    
                    <li>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES,
                    THE LIMITATION OR EXCLUSION OF IMPLIED WARRANTIES, OR LIMITATIONS ON
                    HOW LONG AN IMPLIED WARRANTY MAY LAST, SO THE ABOVE LIMITATIONS MAY NOT
                    APPLY TO YOU. IF YOU RESIDE IN SUCH A JURISDICTION, THE ABOVE
                    LIMITATIONS SHALL APPLY TO YOU TO THE FULLEST EXTENT PERMITTED UNDER
                    APPLICABLE LAW.</li>
                    
                    <li>WE GIVE'S MAXIMUM AGGREGATE LIABILITY TO YOU FOR ANY CAUSES WHATSOEVER,
                    AND REGARDLESS OF THE FORM OF ACTION (WHETHER SUCH LIABILITY ARISES DUE
                    TO NEGLIGENCE, BREACH OF CONTRACT, MISREPRESENTATION OR FOR ANY OTHER
                    REASON), WILL AT ALL TIMES BE LIMITED TO THE GREATER OF (I) THE AMOUNT
                    PAID, IF ANY, BY YOU TO WE GIVE IN CONNECTION WITH THE SITE IN THE 12
                    MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY OR (II) US$100.00.</li>
                </ol>
            </li>
            
            <li>
                <h4>Indemnity.</h4>
                <p>
                    You agree to indemnify and hold We Give, its parents, subsidiaries,
                    affiliates, any related companies, suppliers, licensors and partners,
                    and the officers, directors, employees, agents and representatives of
                    each of them harmless, including costs, liabilities and legal fees,
                    from any claim or demand made by any third party due to or arising out
                    of (i) your access to or use of the Site, (ii) your violation of the
                    Terms of Service, or (iii) the infringement by you, or any third party
                    using your account, of any intellectual property or other right of any
                    person or entity. We Give reserves the right, at your expense, to assume
                    the exclusive defense and control of any matter for which you are
                    required to indemnify us and you agree to cooperate with our defense of
                    these claims. You agree not to settle any matter without the prior
                    written consent of We Give. We Give will use reasonable efforts to notify you
                    of any such claim, action or proceeding upon becoming aware of it.
                </p>
            </li>
            
            <li>
                <h4>Third Parties.</h4>
                <p>
                    The Site may include links to other websites (each, a <b>"Third Party
                    Site"</b>). We Give does not control or endorse any Third Party Site, and you
                    agree that We Give is not responsible for the availability or contents of
                    such Third Party Sites.
                </p>
            </li>
            
            <li>
                <h4>Miscellaneous.</h4>
                <ol>
                    <li>If there is any dispute about or involving the Site or We Give, you agree
                    that any such dispute will be governed by the laws of the State of
                    California without regard to its conflict of law provisions. You agree
                    to personal jurisdiction by and venue in the state and federal courts
                    in San Mateo County, California.</li>
                    
                    <li>No agency, partnership, joint venture, or employment is created as a
                    result of the Terms of Service, and you do not have any authority of
                    any kind to bind We Give in any respect whatsoever.</li>
                    
                    <li>We Give may provide you with notices, including those regarding changes to
                    the Terms of Service by email, regular mail or postings on the Site.</li>
                    
                    <li>Except as otherwise stated in Section 20 above, nothing herein is
                    intended, nor will be deemed, to confer rights or remedies upon any
                    third party.</li>
                    
                    <li>The Terms of Service contain the entire agreement between you and We Give
                    regarding the use of the Site, and supersede any prior agreement
                    between you and We Give on such subject matter. The parties acknowledge
                    that no reliance is placed on any representation made but not expressly
                    contained in these Terms of Service.</li>
                    
                    <li>The failure of We Give to exercise or enforce any right or provision of
                    the Terms of Service shall not constitute a waiver of such right or
                    provision. The failure of either party to exercise in any respect any
                    right provided for herein shall not be deemed a waiver of any further
                    rights hereunder.</li>
                    
                    <li>If any provision of the Terms of Service is found to be unenforceable
                    or invalid, that provision shall be limited or eliminated to the
                    minimum extent necessary so that the Terms of Service shall otherwise
                    remain in full force and effect and enforceable.</li>
                    
                    <li>The Terms of Service are not assignable, transferable or sublicensable
                    by you except with We Give's prior written consent, but may be assigned or
                    transferred by We Give without restriction. Any assignment attempted to be
                    made in violation of the Terms of Service shall be void.</li>
                    
                    <li>The section titles in the Terms of Service are for convenience only and have no legal or contractual effect.</li>
                </ol>
            </li>
            
            <li>
                <h4>Contact and Violations.</h4>
                <p>
                    Please contact us with any questions regarding the Terms of Service.
                    Please report any violations of the Terms of Service to our legal
                    department through the contacts page <a href="/contact">here</a>.
                </p>
            </li>
        </ol>
        
    </div>

    <%doc>
    The following agreement (this "Agreement" or the "Terms of Service") describes the terms on which We Give, LLC. ("We Give Foundation") offers you access to its services. This offer is conditioned on your agreement to all of the terms and conditions contained in the Terms of Service, including your compliance with the policies and terms linked to (by way of the provided URLs) from this Agreement. By using We Give, you agree to these Terms of Service. If you do not so agree, you should decline this agreement, in which case you are prohibited from accessing or using We Give. We Give Foundation may amend this Agreement at any time in its sole discretion, effective upon posting the amended Agreement at the domain or subdomains of http://wegivetofriends.org where the prior version of this Agreement was posted, or by communicating these changes through any written contact method we have established with you.
    </%doc>
