## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<%inherit file="/include/base.tmpl"/>

<%def name="title()">We Give | Terms of Service</%def>
<%def name="head()">
    ${parent.head()}
    <!-- play with CSS here -->
    <style type="text/css">
        .foo
        {
            color: red;
        }
    </style>
</%def>

    <div class="content">
        <h3>Terms of Service</h3>
        <p>
            Welcome to We Give! The following agreement (this "Agreement" or the "Terms of Service") describes the terms on which We Give, LLC. ("We Give Foundation") offers you access to its services. This offer is conditioned on your agreement to all of the terms and conditions contained in the Terms of Service, including your compliance with the policies and terms linked to (by way of the provided URLs) from this Agreement. By using We Give, you agree to these Terms of Service. If you do not so agree, you should decline this agreement, in which case you are prohibited from accessing or using We Give. We Give Foundation may amend this Agreement at any time in its sole discretion, effective upon posting the amended Agreement at the domain or subdomains of http://wegivetofriends.org where the prior version of this Agreement was posted, or by communicating these changes through any written contact method we have established with you.
        </p>
    </div>
