## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <title>Registration Successful - We Give Admin</title>
</head>
<body>
    <style>
        body
        {
            background-color: #FF99FF;
        }
        .content
        {
            font-family: Arial;
            font-size: 93%;
            width: 600px;
            margin: 200px auto 0;
            background-color: #FFFCE4;
            border: 2px solid #FF0099;
            padding: 30px 30px 150px;
        }
    </style>
    <div class="content">
        <h2>Congratulations!</h2>
    
        <p>
            Your charity, ${c.charity.name}, has been registered to receive payments through We Give.
        </p>
    </div>
</body>
