## -*- coding: utf-8 -*-
##
## All portions of the code written by Mark Ture are Copyright (c) 2009
## Mark Ture. All rights reserved.
##############################################################################
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <title>Users - We Give Admin</title>
</head>
<body>
    <h2>Users - We Give Admin</h2>
    
    ${c.user_table(value=c.user_table_value)}
</body>
